<style>
    th.mat-sort-header-sorted {
        color: black;
    }
</style>
<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Stock de Materia Prima</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Materia Prima </th>
                                        <td mat-cell *matCellDef="let row"> {{row.description}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="unit">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad Medida </th>
                                        <td mat-cell *matCellDef="let row"> {{row.unit}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="bodega">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bodega </th>
                                        <td mat-cell *matCellDef="let row"> {{row.bodega}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="totalEntrada">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Entrada </th>
                                        <td mat-cell *matCellDef="let row"> {{row.totalEntrada | number:'1.2-5'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="totalSalida">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Salida </th>
                                        <td mat-cell *matCellDef="let row"> {{row.totalSalida | number:'1.2-5'}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                                        <td mat-cell *matCellDef="let row"> {{row.price | number:'1.2-5' }} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>