<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Administración de Usuarios</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="id_profile">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Perfil </th>
                                        <td mat-cell *matCellDef="let row"> {{row.profile.description }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.created_at | date : "dd/MM/y" }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-info btn-sm" (click)="onEdit(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons">edit</i></button> &nbsp;
                                            <button class="btn btn-danger btn-sm" (click)="onDelete(row)"><i class="material-icons">delete</i></button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:3; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" [hidden]="!error.email">
                        {{error.email}}
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.password">
                        {{error.password}}
                    </div>
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.name.errors && (f.name.touched || submitted), 'has-success': f.name.touched && !f.name.errors}">
                            <label class="control-label">Nombre Completo: </label>
                            <div *ngIf="(submitted || f.name.touched) && f.name.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.name.errors.required">Este campo es requerido</label>
                                <label style="color: red; font-size: 12px;" *ngIf="f.name.errors.minlength">El nombre debe tener al menos 8 caracteres</label>
                            </div>
                            <input type="text" class="form-control" formControlName="name" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.id_profile.errors && (f.id_profile.touched || submitted), 'has-success': f.id_profile.touched && !f.id_profile.errors}">
                            <label class="control-label">Perfil: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.id_profile.invalid && (submitted || f.id_profile.touched))">El campo es requerido</label>
                            <select name="id_profile" class="form-control" formControlName="id_profile">
                                <option *ngFor="let profile of profiles" value="{{profile.id}}">{{profile.description}}</option>
                            </select>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.email.errors && (f.email.touched || submitted), 'has-success': f.email.touched && !f.email.errors}">
                            <label class="control-label">Email: </label>
                            <div *ngIf="(submitted || f.email.touched) && f.email.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.email.errors.required">Este campo es requerido</label>
                                <label style="color: red; font-size: 12px;" *ngIf="f.email.errors.email">El email debe ser un correo electrónico válido</label>
                            </div>
                            <input type="text" id="txtEmail" class="form-control" formControlName="email" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.password.errors && (f.password.touched || submitted), 'has-success': f.password.touched && !f.password.errors}">
                            <label class="control-label">Contraseña: </label>
                            <div *ngIf="(submitted || f.password.touched) && f.password.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.password.errors.required">Este campo es requerido</label>
                                <label style="color: red; font-size: 12px;" *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 8 caracteres</label>
                            </div>
                            <input type="password" class="form-control" formControlName="password" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.password_confirmation.errors && (f.password_confirmation.touched || submitted), 'has-success': f.password_confirmation.touched && !f.password_confirmation.errors}">
                            <label class="control-label">Repetir Contraseña: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.password_confirmation.invalid && (submitted || f.password_confirmation.touched))"> El campo es requerido</label>
                            <input type="password" class="form-control" formControlName="password_confirmation" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>