/*!

=========================================================
* Material Dashboard Angular - v2.4.0
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard-angular2
* Copyright 2019 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/material-dashboard-angular2/blob/master/LICENSE.md)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

*/


/*
.ng-invalid:not(form) {
    border-left: 5px solid red;
    padding-left: 8px;
}

.ng-valid:not(form) {
    border-left: 5px solid green;
    padding-left: 8px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.tim-typo .tim-note {
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
*/

.loaderBox {
    width: 100%;
    height: 100%;
    background: #202020;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
}

.loadAnim {
    width: 200px;
    height: 200px;
    margin-top: 20%;
    margin-left: 40%;
    position: relative;
}

.loadeAnim1,
.loadeAnim2,
.loadeAnim3 {
    position: absolute;
    border-radius: 100%;
    border: 10px solid transparent;
}

.loadeAnim1 {
    width: 150px;
    height: 150px;
    border-top: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    top: 15px;
    left: 15px;
    animation: leftToRight 2s linear infinite;
}

.loadeAnim2 {
    width: 130px;
    height: 130px;
    border: 10px solid red;
    top: 25px;
    left: 25px;
}

.loadeAnim3 {
    width: 110px;
    height: 110px;
    border-right: 10px solid #4000db;
    border-left: 10px solid #4000db;
    top: 35px;
    left: 35px;
    animation: topToBottom 2s linear infinite;
}

@keyframes leftToRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes topToBottom {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.modal-backdrop {
    z-index: 2;
}