<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Administración de Perfiles</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                                        <td mat-cell *matCellDef="let row"> {{row.description}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="observation">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
                                        <td mat-cell *matCellDef="let row"> {{row.observation}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creación </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.created_at | date : "dd/MM/y" }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-info btn-sm" (click)="onEdit(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons">edit</i></button> &nbsp;
                                            <button class="btn btn-danger btn-sm" (click)="onDelete(row)"><i class="material-icons">delete</i></button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:3; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:600px; ">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group label-floating" [ngClass]="{ 'has-danger': f.description.errors && (f.description.touched || submitted), 'has-success': f.description.touched && !f.description.errors}">
                            <label class="control-label">Descripción: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.description.invalid && (submitted || f.description.touched))"> El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="description" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group label-floating" [ngClass]="{ 'has-danger': f.observation.errors && (f.observation.touched || submitted), 'has-success': f.observation.touched && !f.observation.errors}">
                            <label class="control-label">Observación: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.observation.invalid && (submitted || f.observation.touched))"> El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="observation" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group label-floating" [ngClass]="{ 'has-danger': f.modules.errors && (f.modules.touched || submitted), 'has-success': f.modules.touched && !f.modules.errors}">
                            <label class="control-label">Módulos: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.modules.invalid && (submitted || f.modules.touched))"> El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="modules" multiple>
                                    <mat-option *ngFor="let module of modules" [value]="module.id">{{module.description}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>