<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Administración de Solicitudes</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                                        <td mat-cell *matCellDef="let row"> {{row.customer.name}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="product_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                                        <td mat-cell *matCellDef="let row"> {{row.address}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="observation">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zona </th>
                                        <td mat-cell *matCellDef="let row"> {{row.zone.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="unit_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Domiciliario </th>
                                        <td mat-cell *matCellDef="let row"> {{row.employee.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="quantity">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Entrega </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.delivery_date | date : "dd/MM/y" }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.observation }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                        <td mat-cell *matCellDef="let row" style="width:18%">
                                            <button class="btn btn-info btn-sm" (click)="onView(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons">visibility</i></button>
                                            <button class="btn btn-warning btn-sm" (click)="openPDF(row)"><i class="material-icons">picture_as_pdf</i></button>
                                            <button class="btn btn-danger btn-sm" (click)="onDelete(row)"><i class="material-icons">delete</i></button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:4; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:780px; ">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="background:#2980B9; color: white; padding:5px; padding-left: 10px; ">
                        <b>Información General </b></div>
                    <div *ngIf="!btnView" class="row" style="margin-top:13px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.customer_id.errors && (f.customer_id.touched || submitted), 'has-success': f.customer_id.touched && !f.customer_id.errors}">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Seleccionar Cliente" [matAutocomplete]="auto" formControlName='customer_id'>
                            </mat-form-field>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onChangeCustomer($event)">
                                <mat-option *ngFor="let user of (filteredCustomer | async)?.results" [value]="user">
                                    <span>{{ user.name }}</span>
                                    <small> | {{user.document_type}} : {{user.document_number}}</small>
                                </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>
                    <div *ngIf="btnView" class="row" style="margin-top:18px; height:40px;">
                        <div class="col label-floating">
                            <b>Cliente: </b>{{ nameCustomer }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.address.errors && (f.address.touched || submitted), 'has-success': f.address.touched && !f.address.errors}">
                            <label class="control-label">Dirección: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.address.invalid && (submitted || f.address.touched))"> El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="address" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.delivery_date.errors && (f.delivery_date.touched || submitted), 'has-success': f.delivery_date.touched && !f.delivery_date.errors}">
                            <label class="control-label">Fecha de Entrega: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.delivery_date.invalid && (submitted || f.delivery_date.touched))"> El campo es requerido</label>
                            <input type="date" class="form-control" formControlName="delivery_date" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.zone_id.errors && (f.zone_id.touched || submitted), 'has-success': f.zone_id.touched && !f.zone_id.errors}">
                            <label class="control-label">Zonas: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.zone_id.invalid && (submitted || f.zone_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="zone_id" (selectionChange)="getEmployees($event)">
                                    <mat-option *ngFor="let zona of zonas" [value]="zona.id">
                                        {{zona.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.employee_id.errors && (f.employee_id.touched || submitted), 'has-success': f.employee_id.touched && !f.employee_id.errors}">
                            <label class="control-label">Mensajeros: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.employee_id.invalid && (submitted || f.employee_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="employee_id">
                                    <mat-option *ngFor="let e of empleados2" [value]="e.id">
                                        {{e.name}} <b>({{e.document_number}})</b>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.observation.errors && (f.observation.touched || submitted), 'has-success': f.observation.touched && !f.observation.errors}">
                            <label class="control-label">Observación: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.observation.invalid && (submitted || f.observation.touched))"> El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="observation" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div style="background:#2980B9; margin-top:10px; color: white; padding:5px; padding-left: 10px; ">
                        <b>Detalle de Solicitud</b></div>
                    <div *ngIf="!btnView">
                        <div class="row">
                            <div class="col-7" style="padding-top:14px;">
                                <mat-form-field appearance="fill" style="z-index:100">
                                    <mat-label>-- Producto Terminado --</mat-label>
                                    <mat-select formControlName="product_id">
                                        <mat-option *ngFor="let product of products2" [value]="product.id">
                                            {{product.id}} - {{product.description}} <b>({{product.quantity_available | number:'1.0-5' }})</b>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-3" style="padding-top:17px;">
                                <input type="number" style="height:60px; text-align:right;" placeholder="Cantidad" class="form-control" formControlName="quantity" />
                            </div>
                            <div class="col-2">
                                <button type="button" style="margin-top:25px;" rel="tooltip" (click)="addProduct()" [disabled]="btnDisabled" class="btn btn-success btn-round"><i class="material-icons">add_circle</i></button>
                            </div>
                        </div>
                        <hr style="border: 2px solid #D6DBDF;" />
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table" style="font-size:14px;">
                                <thead>
                                    <tr>
                                        <th style="font-size:14px;">Código</th>
                                        <th style="font-size:14px;">Producto</th>
                                        <th style="font-size:14px;">Cant Requerida</th>
                                        <!--<th style="font-size:14px;">Cant Disponible</th>-->
                                        <th style="font-size:14px;" class="text-right">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of detailFormula">
                                        <td style="text-align:center "><b>{{ detail.codigo }}</b></td>
                                        <td>{{ detail.product }}</td>
                                        <td style="text-align:right ">{{ detail.cantRequerida | number:'1.0-5' }}</td>
                                        <!--<td style="text-align:right ">{{ detail.cantDisponible | number:'1.0-5' }}</td>-->
                                        <td class="td-actions text-right">
                                            <button [disabled]="btnView" type="button" rel="tooltip" (click)="removeMaterial(detail)" class="btn btn-danger btn-round">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display:none; margin-top:300px;" class="containerPdf">
    <div class="col-md-8" id="htmlData">
        <style>
            .center {
                text-align: center;
            }
            
            .contenido {
                padding-left: 20px;
            }
        </style>
        <div class="contenido">
            <div width="100%" class="center" style="background:#85929E; color:white; padding:8px; width: 93%">
                <h4><b>Documento de Despacho</b></h4>
            </div>
            <br><br>
            <table class="table table-bordered" style="width: 93% !important;">
                <tr>
                    <td width="150" style="background: #E5E7E9;"><b>Cliente:</b></td>
                    <td width="250">{{ dataPdf.customerName }}</td>
                    <td width="150" style="background: #E5E7E9;"><b>Nit / CC:</b></td>
                    <td width="250"> {{ dataPdf.document }}</td>
                </tr>
                <tr>
                    <td style="background: #E5E7E9;"><b>Dirección:</b></td>
                    <td>{{ dataPdf.address }}</td>
                    <td style="background: #E5E7E9;"><b>Celular:</b></td>
                    <td> {{ dataPdf.mobile }}</td>

                </tr>
                <tr>
                    <td style="background: #E5E7E9;"><b>Zona:</b></td>
                    <td>{{ dataPdf.zone }}</td>
                    <td style="background: #E5E7E9;"><b>Mensajero:</b></td>
                    <td> {{ dataPdf.mensajero }}</td>
                </tr>
                <tr>
                    <td style="background: #E5E7E9;"><b>Fecha Entrega:</b></td>
                    <td> {{ dataPdf.delivery_date }}</td>
                    <td style="background: #E5E7E9;"><b>Observaciones:</b></td>
                    <td>{{ dataPdf.observation }}</td>
                </tr>
            </table>
            <br>
            <table class="table table-bordered" style="width: 93% !important;">
                <tr>
                    <th style="background: #D7DBDD; text-align:center;">Id Producto</th>
                    <th style="background: #D7DBDD; text-align:center;">Descripción</th>
                    <th style="background: #D7DBDD; text-align:center;">Cantidad Requerida</th>
                </tr>
                <tr *ngFor="let detail of dataPdf.request_detail">
                    <th style="text-align:center;">{{detail.product_id}}</th>
                    <td>{{detail.product.description}}</td>
                    <td style="text-align:right; padding-right:16px;">{{detail.quantity}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>