<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Movimientos de Inventario</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="raw_material">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Materia Prima </th>
                                        <td mat-cell *matCellDef="let row"> {{row.materiaPrima }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="grocery">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bodega </th>
                                        <td mat-cell *matCellDef="let row"> {{row.bodega}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="movement_type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Mov </th>
                                        <td mat-cell *matCellDef="let row"> {{row.mov }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Mov</th>
                                        <td mat-cell *matCellDef="let row"> {{ row.created_at | date : "dd/MM/y" }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="unit_measurement">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad Med </th>
                                        <td mat-cell *matCellDef="let row"> {{row.unit }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="amount">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                                        <td mat-cell *matCellDef="let row"> {{row.amount }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="document">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                                        <td mat-cell *matCellDef="let row"> {{row.document }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="document_value">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vlr Docto </th>
                                        <td mat-cell *matCellDef="let row"> {{row.document_value | number:'1.2-5' }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="price">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                                        <td mat-cell *matCellDef="let row"> {{row.price | number:'1.2-5' }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="observation">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Observación </th>
                                        <td mat-cell *matCellDef="let row"> {{row.observation }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-info btn-sm" (click)="onView(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons">visibility</i></button> &nbsp;
                                            <button *ngIf="!row.document" class="btn btn-danger btn-sm" (click)="onDelete(row)"><i class="material-icons">delete</i></button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:3; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <div class="alert alert-danger" role="alert" style="display:none;" id="alert_message">
                    </div>
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.raw_material_id.errors && (f.raw_material_id.touched || submitted), 'has-success': f.raw_material_id.touched && !f.raw_material_id.errors}">
                            <label class="control-label">Materia Prima: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.raw_material_id.invalid && (submitted || f.raw_material_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="raw_material_id">
                                    <mat-option *ngFor="let materia of materias" [value]="materia.id">
                                        {{materia.description}} <b>({{materia.unit_measurement.symbol}})</b>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.grocery_id.errors && (f.grocery_id.touched || submitted), 'has-success': f.grocery_id.touched && !f.grocery_id.errors}">
                            <label class="control-label">Bodega: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.grocery_id.invalid && (submitted || f.grocery_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="grocery_id">
                                    <mat-option *ngFor="let bodega of bodegas" [value]="bodega.id">
                                        {{bodega.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.movement_type_id.errors && (f.movement_type_id.touched || submitted), 'has-success': f.movement_type_id.touched && !f.movement_type_id.errors}">
                            <label class="control-label">Tipo Movimiento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.movement_type_id.invalid && (submitted || f.movement_type_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="movement_type_id">
                                    <mat-option *ngFor="let type of types" [value]="type.id">
                                        {{type.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.amount.errors && (f.amount.touched || submitted), 'has-success': f.amount.touched && !f.amount.errors}">
                            <label class="control-label">Cantidad: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.amount.invalid && (submitted || f.amount.touched))">El campo es requerido</label>
                            <input type="number" class="form-control" style="margin-top:20px; text-align:right; padding:10px; font-size:15px;" formControlName="amount" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.document.errors && (f.document.touched || submitted), 'has-success': f.document.touched && !f.document.errors}">
                            <label class="control-label">Documento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.document.invalid && (submitted || f.document.touched))">El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="document" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.document_value.errors && (f.document_value.touched || submitted), 'has-success': f.document_value.touched && !f.document_value.errors}">
                            <label class="control-label">Valor Documento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.document_value.invalid && (submitted || f.document_value.touched))">El campo es requerido</label>
                            <input type="number" class="form-control" style="text-align:right; padding:10px; font-size:15px;" formControlName="document_value" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.observation.errors && (f.observation.touched || submitted), 'has-success': f.observation.touched && !f.observation.errors}">
                            <label class="control-label">Observación: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.observation.invalid && (submitted || f.observation.touched))">El campo es requerido</label>
                            <textarea class="form-control" formControlName="observation"></textarea>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>