<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Administración de Ordenes de Producción</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <mat-tab-group style="margin-top:10px;" (selectedTabChange)="onShowOrdersTab($event)">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 1. Pendientes
                                </ng-template>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 2. En Proceso
                                </ng-template>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 3. En Empaque
                                </ng-template>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 4. Almacenamiento
                                </ng-template>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 5. Finalizados
                                </ng-template>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons">double_arrow</i> &nbsp; 6. Cancelados
                                </ng-template>
                            </mat-tab>
                        </mat-tab-group>
                        <div class="table-responsive" style="margin-top:10px;">
                            <app-order-detail [estado]="statusTab" (detalleOrdenEmitter)="recieveInformationOrder($event)"></app-order-detail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:4; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:780px; ">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="background:#2980B9; color: white; padding:5px; padding-left: 10px; ">
                        <b>Información Orden Producción</b></div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.master_formula_id.errors && (f.master_formula_id.touched || submitted), 'has-success': f.master_formula_id.touched && !f.master_formula_id.errors}">
                            <label class="control-label">Formula Maestra:</label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.master_formula_id.invalid && (submitted || f.master_formula_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="master_formula_id">
                                    <mat-option *ngFor="let formula of formulas" [value]="formula.id">
                                        <b>Cod: {{formula.id}}</b> - {{formula.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col-3 label-floating" [ngClass]="{ 'has-danger': f.amount.errors && (f.amount.touched || submitted), 'has-success': f.amount.touched && !f.amount.errors}">
                            <label class="control-label">Cantidad en Tandas: </label>
                            <input type="number" style="margin-top:20px; text-align:right;" class="form-control" formControlName="amount" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col-2 label-floating">
                            <button type="button" style="margin-top:25px;" [disabled]="btnDisabled2" (click)="calcularDetalleOrder()" class="btn btn-info"><i class="material-icons">wifi_protected_setup</i></button>
                        </div>
                    </div>
                    <div style="background:#2980B9; color: white; padding:5px; padding-left: 10px; ">
                        <b>Detalle Orden de Producción</b></div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col">
                            <table class="table" style="font-size:14px;">
                                <thead>
                                    <tr>
                                        <th style="font-size:14px; text-align:center; font-weight: bold; color: #1F618D;">Materia Prima</th>
                                        <th style="font-size:14px; text-align:center; font-weight: bold; color: #1F618D;">Unidad Medida</th>
                                        <th style="font-size:14px; text-align:center; font-weight: bold; color: #1F618D;">Cant Requerida</th>
                                        <th style="font-size:14px; text-align:center; font-weight: bold; color: #1F618D;">Cant Disponible</th>
                                        <th style="font-size:14px; text-align:center; font-weight: bold; color: #1F618D;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of detailFormula" [ngStyle]="{'background-color':detail.total < 0 ? '#CD6155' : '', 'color':detail.total < 0 ? 'white' : ''}">
                                        <td><b>({{ detail.IdMateria }}) -</b> {{ detail.NameMateria }}</td>
                                        <td>{{ detail.descUnitMateria }}</td>
                                        <td style="text-align:right;">{{ detail.totalRequerida | number:'1.0-5'}}</td>
                                        <td style="text-align:right;">{{ detail.totalDisponible | number:'1.0-5'}}</td>
                                        <td style="text-align:right; font-weight: bold; ">{{ detail.total | number:'1.0-5'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary" id="btnGuardar" [disabled]="btnDisabled">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>