<style>
    table {
        width: 100%;
    }
</style>
<!--
<div *ngFor="let item of datos">
    <label>{{ item.name }}</label>
</div>
-->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let item of COLUMS" matColumnDef="{{ item }}">
            <th mat-header-cell *matHeaderCellDef>{{ item }}</th>
            <td mat-cell *matCellDef="let element">{{ element[item] }}</td>
        </ng-container>

        <!-- 
        <ng-container matColumnDef="position" style="width:0px;">
            <th mat-header-cell *matHeaderCellDef style="width:0px;"> No. </th>
            <td mat-cell *matCellDef="let element" style="width:0px;"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="COLUMS"></tr>
        <tr mat-row *matRowDef="let row; columns: COLUMS;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>