<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">drive_file_move_rtl</i>
                        </div>
                        <p class="card-category">Entradas Inventario</p>
                        <h3 class="card-title">{{ dataInforme[0].informe }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">verified</i> Total Entradas Inventario
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">drive_file_move</i>
                        </div>
                        <p class="card-category">Salida de Inventario</p>
                        <h3 class="card-title">{{ dataInforme[1].informe }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">verified</i> Total Salidas Inventario
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">local_grocery_store</i>
                        </div>
                        <p class="card-category">Solicitudes Clientes</p>
                        <h3 class="card-title">{{ dataInforme[2].informe }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">verified</i> Total Solicitudes Clientes
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <p class="card-category">Clientes</p>
                        <h3 class="card-title">{{ dataInforme[3].informe }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">verified</i> Total de Clientes
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Informe de Despacho</h4>
                        <p class="card-category">Solicitudes de Clientes por Zonas</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">verified</i> Z1: Zona 1 | Z2: Zona 2 | Z3: Zona 3 | Z4: Zona 4
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Informe de Producción</h4>
                        <p class="card-category">Ordenes de Producción por Proceso</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">verified</i> PD: Pendiente | PR: En Proceso | EM: En Empaque | AL: Almacenamiento | FI: Finalizados | CA: Cancelados
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>