<div class="main-content" style="margin-top:2%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-danger" style="height:50px">
                        <h4 class="card-title mt-0" style="float:left; "> Administración de Clientes</h4>
                        <button type="button" style="float: right;" class="btn btn-success" (click)="onResetForm()" data-toggle="modal" data-target="#formModal"><i class="material-icons">add_circle</i> Adicionar</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-form-field>
                                <mat-label>Campo Búsqueda</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
                            </mat-form-field>
                            <div class="mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="document_type_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Documento </th>
                                        <td mat-cell *matCellDef="let row"> {{row.document_type.symbol}}-{{row.document_number}}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Razón Social </th>
                                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                                        <td mat-cell *matCellDef="let row"> {{row.email }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.phone }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="mobile">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.mobile }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="city_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ciudad </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.city.description }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="zone_id">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zona </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.zone.name }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="address">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                                        <td mat-cell *matCellDef="let row"> {{ row.address }} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button class="btn btn-info btn-sm" (click)="onEdit(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons">edit</i></button> &nbsp;
                                            <button class="btn btn-danger btn-sm" (click)="onDelete(row)"><i class="material-icons">delete</i></button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" style="z-index:3; margin-top:20px;" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <form [formGroup]="_formGroup" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Creación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.document_type_id.errors && (f.document_type_id.touched || submitted), 'has-success': f.document_type_id.touched && !f.document_type_id.errors}">
                            <label class="control-label">Tipo Documento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.document_type_id.invalid && (submitted || f.document_type_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="document_type_id">
                                    <mat-option *ngFor="let document of documents" [value]="document.id">
                                        <b>({{ document.symbol }})</b> {{document.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.document_number.errors && (f.document_number.touched || submitted), 'has-success': f.document_number.touched && !f.document_number.errors}">
                            <label class="control-label">Número Documento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.document_number.invalid && (submitted || f.document_number.touched))">El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="document_number" style="margin-top:13px;" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.name.errors && (f.name.touched || submitted), 'has-success': f.name.touched && !f.name.errors}">
                            <label class="control-label">Nombre y Apellido: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.name.invalid && (submitted || f.name.touched))">El campo es requerido</label>
                            <input style="height:60px;" type="text" class="form-control" formControlName="name" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.zone_id.errors && (f.zone_id.touched || submitted), 'has-success': f.zone_id.touched && !f.zone_id.errors}">
                            <label class="control-label">Zonas: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.zone_id.invalid && (submitted || f.zone_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="zone_id">
                                    <mat-option *ngFor="let zona of zonas" [value]="zona.id">
                                        {{zona.name}} - <b>({{zona.equivalent}})</b>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.email.errors && (f.email.touched || submitted), 'has-success': f.email.touched && !f.email.errors}">
                            <label class="control-label">Email: </label>
                            <div *ngIf="(submitted || f.email.touched) && f.email.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.email.errors.required">Este campo es requerido</label>
                                <label style="color: red; font-size: 12px;" *ngIf="f.email.errors.email">El email debe ser un correo electrónico válido</label>
                            </div>
                            <input type="text" id="txtEmail" class="form-control" formControlName="email" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.address.errors && (f.address.touched || submitted), 'has-success': f.address.touched && !f.address.errors}">
                            <label class="control-label">Dirección: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.address.invalid && (submitted || f.address.touched))">El campo es requerido</label>
                            <input type="text" class="form-control" formControlName="address" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>

                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.phone.errors && (f.phone.touched || submitted), 'has-success': f.phone.touched && !f.phone.errors}">
                            <label class="control-label">Teléfono: </label>
                            <div *ngIf="(submitted || f.phone.touched) && f.phone.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.phone.errors.minlength">Por favor ingresar un número de teléfono válido.</label>
                            </div>
                            <input type="text" class="form-control" formControlName="phone" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.mobile.errors && (f.mobile.touched || submitted), 'has-success': f.mobile.touched && !f.mobile.errors}">
                            <label class="control-label">Celular: </label>
                            <div *ngIf="(submitted || f.mobile.touched) && f.mobile.errors">
                                <label style="color: red; font-size: 12px;" *ngIf="f.mobile.errors.required">Este campo es requerido</label>
                                <label style="color: red; font-size: 12px;" *ngIf="f.mobile.errors.minlength">Por favor ingresar un número celular válido.</label>
                            </div>
                            <input type="text" class="form-control" formControlName="mobile" />
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:12px;">
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.department_id.errors && (f.department_id.touched || submitted), 'has-success': f.department_id.touched && !f.department_id.errors}">
                            <label class="control-label">Departamento: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.department_id.invalid && (submitted || f.department_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="department_id" (selectionChange)="getCities($event)">
                                    <mat-option *ngFor="let department of departments" [value]="department.id">
                                        {{department.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                        <div class="col label-floating" [ngClass]="{ 'has-danger': f.city_id.errors && (f.city_id.touched || submitted), 'has-success': f.city_id.touched && !f.city_id.errors}">
                            <label class="control-label">Ciudad: </label>
                            <label style="color: red; margin-left: 13px; font-size: 12px;" *ngIf="(f.city_id.invalid && (submitted || f.city_id.touched))">El campo es requerido</label>
                            <mat-form-field appearance="fill" style="z-index:100">
                                <mat-label>-- Seleccionar --</mat-label>
                                <mat-select formControlName="city_id">
                                    <mat-option *ngFor="let city of citiesFinal" [value]="city.id">
                                        {{city.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span class="form-control-feedback"><i class="material-icons">eco</i></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCerrar">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>