<div class="table-responsive" style="margin-top:5px;">
    <mat-form-field>
        <mat-label>Campo Búsqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digitar dato" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> ID </th>
                <td mat-cell *matCellDef="let row"><b>OP-{{row.id}}</b></td>
            </ng-container>
            <ng-container matColumnDef="master_formula_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Fórmula Maestra</th>
                <td mat-cell *matCellDef="let row"> {{row.master_formula.description}}</td>
            </ng-container>
            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Producto Terminado</th>
                <td mat-cell *matCellDef="let row"> {{row.master_formula.products.description}}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Tandas</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.amount}}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Cant Fórmula</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.amount * row.master_formula.quantity | number:'1.2-5'}}</td>
            </ng-container>
            <ng-container matColumnDef="unit_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Und Medida</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.master_formula.unit_measurement.unit }}</td>
            </ng-container>
            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Total Fabricar</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.amount * (row.master_formula.quantity*row.master_formula.unit_measurement.equivalence) | number:'1.2-5'}}</td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Fecha Creación </th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{ row.created_at | date : "dd/MM/y" }} </td>
            </ng-container>
            <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Fecha Actualización </th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{ row.updated_at | date : "dd/MM/y" }} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center;"> Acciones </th>
                <td mat-cell *matCellDef="let row" style="width:13%; text-align:center;">
                    <button style="width:40px;" class="btn btn-info btn-sm" (click)="onView(row)" data-toggle="modal" data-target="#formModal"><i class="material-icons" style="margin-left:-10px">visibility</i></button>
                    <button style="width:40px;" class="btn btn-warning btn-sm" *ngIf="row.status!='Cancelado' && row.status!='Finalizado'" (click)="onChangeStatus(row)"><i class="material-icons" style="margin-left:-10px">send</i></button>
                    <button style="width:40px;" class="btn btn-danger btn-sm" *ngIf="row.status=='Pendiente'" (click)="onCancelete(row)"><i class="material-icons" style="margin-left:-10px">cancel</i></button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>